<form class="panel panel-default" (ngSubmit)="saveEvent()" #jobForm="ngForm">
  <div class="panel-body">
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon">$</span>
        <input required class="form-control" placeholder="whoami" type="text" id="command" name="command" [(ngModel)]="model.command" />
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-3">
        <label for="dynoSize">Dyno Size</label>
        <select required class="form-control" name="dynoSize" id="dynoSize" [(ngModel)]="model.dynoSize">
          <option>Free</option>
          <option>Hobby</option>
          <option>Standard</option>
          <option>Performance</option>
        </select>
      </div>

      <div class="col-md-3">
        <label for="frequency">Frequency</label>
        <select required class="form-control" name="frequency" id="frequency" [(ngModel)]="model.frequency" (change)="changeFrequency($event.target.value)">
          <option value="hourly">Hourly</option>
          <option value="daily">Daily</option>
          <option value="monthly">Monthly</option>
          <option value="yearly">Yearly</option>
        </select>
      </div>

      <div class="col-md-3">
        <label>Last Run</label>
        <p class="from-control-static">Never</p>
      </div>

      <div class="col-md-3">
        <label for="runAt">Next Due</label>
        <select required class="form-control" name="runAt" id="runAt" [(ngModel)]="model.runAt">
          <option *ngFor="let hour of runAtOptions">{{hour}}</option>
        </select>
      </div>
    </div>
  </div>

  <div class="panel-footer">
    <input class="btn btn-primary" type="submit" value="Save" [disabled]="!jobForm.form.valid" />
    <span class="btn btn-link" (click)="cancelEvent()">Cancel</span>
  </div>
</form>
